@charset "UTF-8";

* {
    margin: 0px;
}

:root {
    --verde-claro: #eaf4f6;
    --verde: #0097b2;
    --verde-escuro: #005564;
    --preto: black;
    --cinza: rgb(199, 199, 199);
    --branco: #ffff;
}

.header {
    padding: 10px;
    background-color: var(--verde-claro);
}

a {
    text-decoration: none;

    & .ri-user-settings-fill {
        font-size: 50px;
        color: var(--preto);
        padding: 10px;
    }
}

.titulo-notificacao {
    display: flex;
    justify-content: center;
     align-items: center;
    padding: 10px;

    & i, h1{
        padding: 10px;
        color: var(--verde-escuro);
        font-size: 20px;
    }
}

.verificado {
    display: flex;
    width: 20px;
    height: 20px;
}

.container-overflow {
    border: 1px solid var(--cinza);
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    overflow: auto;
    height: 250px;
}

.card-notificacao, .card-parcerias {
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--cinza);
    border-radius: 5px;

    h1, div {
        display: flex;
        flex-direction: column; /* Garante que o texto será empilhado verticalmente, caso necessário */
        padding: 5px;
        word-wrap: break-word; /* Faz com que palavras longas que não cabem quebrem para a linha seguinte */
        word-break: break-word; /* Quebra palavras longas sem espaços */
        white-space: normal; /* Garante que o texto vai quebrar normalmente */
    }
    
}